.content-wrapper {
  @apply mx-auto max-w-[75rem] px-4;
  @apply sm:px-12 md:px-10 lg:px-16 xl:px-6;
}

.content-wrapper-max {
  @apply mx-auto max-w-[120rem];
}

.background-grid {
  position: relative;
  z-index: 0;
  background-color: #f1f5f9; /* fallback for bg-slate-100 */
}
.dark .background-grid {
  background-color: #0c1222; /* fallback for dark:bg-[#0c1222] */
}
.background-grid::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23e2e8f0cc' stroke-dasharray='5 3'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  /* background-color: rgb(
      226 232 240 / 0.8
    ); */
  mask-image: linear-gradient(transparent, black, transparent);
}
.dark .background-grid::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23f8fafc06' stroke-dasharray='5 3'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  /* background-color: rgb(
      248 250 252 / 0.025
    ); */
}
.background-grid--fade-in {
  @apply bg-transparent bg-gradient-to-t from-slate-100 via-slate-100;
}
.dark .background-grid--fade-in {
  @apply bg-transparent from-[#0c1222] via-[#0c1222];
}
.background-grid--fade-in::before {
  background-position: left bottom;
  mask-image: linear-gradient(transparent, black, black);
}
.background-grid--fade-out {
  @apply bg-transparent bg-gradient-to-b from-slate-100 via-slate-100;
}
.dark .background-grid--fade-out {
  @apply bg-transparent from-[#0c1222] via-[#0c1222];
}
.background-grid--fade-out::before {
  mask-image: linear-gradient(black, black, transparent);
}

.background-image--fade-out {
  mask-image: linear-gradient(black, black, transparent);
}

.button {
  @apply inline-flex h-10 items-center justify-center gap-1.5 rounded-md border border-transparent px-4 text-center text-sm font-bold transition duration-150;
  @apply md:rounded-xl;
}
.button--solid {
  @apply bg-violet-600 text-white hover:bg-violet-700 dark:bg-violet-600 dark:hover:bg-violet-500;
}
.button--ghost {
  @apply text-slate-600 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-300;
}
.button--outline {
  @apply border-slate-200 dark:border-slate-800 hover:bg-slate-200/40 dark:hover:bg-slate-600/10;
}
.button--soft {
  @apply bg-violet-600/[0.08] text-violet-600 rounded-full px-5 font-bold dark:bg-violet-400/10 dark:text-violet-400 dark:font-semibold;
}
.button--big {
  @apply h-12 rounded-xl px-6;
}
.button--big.button--underline::after {
  @apply bottom-2;
}
.button--underline {
  @apply relative;
}
.button--underline::after {
  @apply absolute bottom-1 left-2 right-2 border-b-2 border-dotted border-slate-600/50 dark:border-slate-400/50;
  content: "";
}

.nav-link {
  @apply text-violet-600 flex h-9 items-center gap-1 rounded-xl px-2 text-[13px] font-bold;
  @apply dark:text-violet-400 dark:font-semibold;
}

.nav-link:hover,
.nav-link[ia-expanded="true"] {
  @apply text-violet-700;
  @apply dark:text-violet-300;
}

.nav-link--label {
  @apply bg-violet-600/[0.08] rounded-full px-5;
  @apply dark:bg-violet-400/10;
}

.nav-link--label svg {
  @apply -mr-1;
}

.nav-link__separator {
  @apply -mt-1 text-slate-800;
  @apply dark:text-slate-300;
}

.nav-link--focus {
  @apply rounded-lg bg-slate-100;
  @apply dark:bg-slate-800/50;
}

.label {
  @apply relative overflow-hidden rounded-md bg-slate-100 px-3 py-1 pb-1.5 text-[13px] font-semibold;
  @apply dark:bg-slate-800;
}

.label__indicator {
  @apply bg-violet-400 absolute inset-x-0 bottom-0 h-0.5 rounded-full;
  @apply dark:bg-violet-800;
}

.toc li {
  @apply relative;
}

.toc-visible {
  @apply absolute -inset-x-3 -inset-y-1 bg-slate-50;
  @apply dark:bg-[#1d263a];
}

.toc-link {
  @apply hover:text-violet-700 relative z-10 flex p-1 px-2 text-[13px] font-bold text-slate-700;
  @apply dark:hover:text-violet-300 dark:font-semibold dark:text-slate-300;
}

.toc-link--depth-2 {
  @apply ml-4 font-normal text-slate-600;
  @apply dark:font-normal dark:text-slate-400;
}

.toc-link--active {
  @apply text-violet-600 hover:text-violet-700;
  @apply dark:text-violet-400 dark:hover:text-violet-300;
}

.link {
  @apply text-violet-600 relative inline-flex items-center gap-1;
  @apply dark:text-violet-400;
}

.link svg {
  @apply h-3.5 w-3.5;
}

.link:hover::after {
  @apply scale-y-[1];
}

.link::after {
  @apply bg-violet-600/20 absolute bottom-1 left-0 right-0 z-[-1] h-2 origin-bottom scale-y-[.4] transition-transform content-[''];
}

.footer-link {
  @apply flex h-8 items-center gap-2 whitespace-nowrap px-2 py-1 text-sm text-slate-900;
  @apply dark:text-slate-200;
}

.footer-link__label {
  @apply border-slate-200 rounded-full border px-2 py-0 text-[10px] uppercase text-slate-900;
  @apply dark:text-slate-200;
}

.footer-link--soon {
  @apply cursor-not-allowed text-slate-600;
  @apply dark:text-slate-400;
}
